/* Sticky footer CSS */
html {
  position: relative;
  min-height: 100%;
  /*overflow:hidden;*/
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
  -webkit-touch-callout: none;
   -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
p {
  font-size: 25px;
}

h1, h2, h3, h4 {
  margin: 0; /* reset */
}
h1 {
  font-size: 48px;
  margin-top: 32px;
  letter-spacing: .14px;
}

h2 {
  font-size: 42px;
  margin-top: 14px;
  margin-bottom: 14px;
}

h3 {
  font-size: 36px;
  margin-bottom: 8px;
}
h4 {
  font-size: 28px;
  margin-bottom: 14px;
}
small {
  font-size: 80%;
}

.btn-lg {
  font-size: 25px;
}

.loader{
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  display: none;
  position: absolute;
  z-index: 42;
}
#books{
  margin-top: 16px;
  /*viewport-height rules!*/
  height: 25vh;
  min-height:250px;
}
.emneord{
  margin: 8px;
}
#touchHand {
  margin-top: 32px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  /*background-color: #f5f5f5;*/
}

span.glyphicon {
  font-size: 100px;
}
span.glyphicon:hover {
  cursor: pointer;
}

#previousEmneord,#nextEmneord {
  display: none;
}

.alert {
  margin-bottom: 14px;
}

/* Styles for animating handIcon */
@-webkit-keyframes move_animation {
  0% { left: 0px; }
  20% { left: 50px; }
  40% { left: 50px; }
  60% { left: 50px; }
  80% { left: 0px; }
  100% { left: 0px; }
}
.animateHand {
  -webkit-animation-name: 'move_animation';
  -webkit-animation-duration: 5000ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
#touchHand {
  position: relative;
}
.handParagraph {
  display: none;
  position: absolute;
  margin: auto;
  top: 60%; left: 0; bottom: 0; right: 0;
  text-align: center;
}
/* end styles for animating handIcon */

#bookDescription {
  max-height: 450px;
  overflow-y: auto;
}

/* Do keep the home icon from becoming blue */
#homeIcon,#helpIcon {
  color: #31b0d5;
}

#help h3 {
  font-size: 28px;
}
#help p, #help li {
  font-size: 22px;
}
#help .bbm-button {
  font-size: 22px;
}
